 
This is very simple code just to explore Spark and what it has to offer. I am planning on adding more functions and importing other cool Spark libraries. The dataset contains all the results in the Olympics for Track & Field. I am a former 400m runner so I am obsessed with Track and its progress over the years.

In [1]:
#spark context
sc

In [2]:
#spark session
spark

In [3]:
sc.version

u'2.1.1'

In [10]:
df = spark.read.csv("olympics.csv",header=True, inferSchema=True, sep=',')

In [38]:
df.printSchema()

root
 |-- Gender: string (nullable = true)
 |-- Event: string (nullable = true)
 |-- Location: string (nullable = true)
 |-- Year: integer (nullable = true)
 |-- Medal: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- Nationality: string (nullable = true)
 |-- Result: string (nullable = true)

In [39]:
df.show(4)

+------+----------+--------+----+-----+--------------------+-----------+--------+
|Gender|     Event|Location|Year|Medal|                Name|Nationality|  Result|
+------+----------+--------+----+-----+--------------------+-----------+--------+
|     M|10000M Men|     Rio|2016|    G|       Mohamed FARAH|        USA|25:05.17|
|     M|10000M Men|     Rio|2016|    S|Paul Kipngetich T...|        KEN|27:05.64|
|     M|10000M Men|     Rio|2016|    B|        Tamirat TOLA|        ETH|27:06.26|
|     M|10000M Men| Beijing|2008|    G|     Kenenisa BEKELE|        ETH|27:01.17|
+------+----------+--------+----+-----+--------------------+-----------+--------+
only showing top 4 rows

In [13]:
#number of rows
df.count()

2394

In [14]:
#Whos the most valuable Olympian per country?
(df.
 select(df['nationality'], df["name"] ,df["Medal"]).groupby("nationality", "name").
 count().
 orderBy("count", ascending=False).
 filter(df["name"] !="null").
 show(10))

+-----------+------------------+-----+
|nationality|              name|count|
+-----------+------------------+-----+
|        JAM|     Merlene OTTEY|    7|
|        FIN|       Paavo NURMI|    7|
|        JAM|        Usain BOLT|    6|
|        ETH|   Tirunesh DIBABA|    6|
|        POL|Irena KIRSZENSTEIN|    6|
|        USA|        Ralph ROSE|    5|
|        FIN|      Ville RITOLA|    5|
|        USA|    Robert GARRETT|    5|
|        TCH|     Emil ZÃTOPEK|    5|
|        USA|     Jackie JOYNER|    5|
+-----------+------------------+-----+
only showing top 10 rows

In [29]:
#drop all names recoreded as null
data.show(5)

+------+----------+--------+----+-----+--------------------+-------+--------+
|Gender|     Event|Location|Year|Medal|                Name|Country|  Result|
+------+----------+--------+----+-----+--------------------+-------+--------+
|     M|10000M Men|     Rio|2016|    G|       Mohamed FARAH|    USA|25:05.17|
|     M|10000M Men|     Rio|2016|    S|Paul Kipngetich T...|    KEN|27:05.64|
|     M|10000M Men|     Rio|2016|    B|        Tamirat TOLA|    ETH|27:06.26|
|     M|10000M Men| Beijing|2008|    G|     Kenenisa BEKELE|    ETH|27:01.17|
|     M|10000M Men| Beijing|2008|    S|      Sileshi SIHINE|    ETH|27:02.77|
+------+----------+--------+----+-----+--------------------+-------+--------+
only showing top 5 rows

In [30]:
#marathon number one
data.groupBy("Event").count().sort(['count'], ascending=False).show(5)

+----------------+-----+
|           Event|count|
+----------------+-----+
|    Marathon Men|   84|
|        100M Men|   82|
|       1500M Men|   81|
|        800M Men|   81|
|110M Hurdles Men|   80|
+----------------+-----+
only showing top 5 rows

In [34]:
#athlete with the most individaul medals

(df.groupBy("Name").
 count().sort(['count'], 
 ascending=False).
 filter(df["Name"] != "null").show(10))

+------------------+-----+
|              Name|count|
+------------------+-----+
|     Merlene OTTEY|    7|
|       Paavo NURMI|    7|
|   Tirunesh DIBABA|    6|
|        Usain BOLT|    6|
|Irena KIRSZENSTEIN|    6|
|     Jackie JOYNER|    5|
|        Ralph ROSE|    5|
|     Emil ZÃTOPEK|    5|
|    Robert GARRETT|    5|
|      Ville RITOLA|    5|
+------------------+-----+
only showing top 10 rows

In [36]:
#Country with the most medals

df.groupBy("Nationality").count().sort(['count'], ascending=False).show(5)

+-----------+-----+
|Nationality|count|
+-----------+-----+
|        USA|  639|
|        GBR|  160|
|        URS|  131|
|        KEN|   87|
|        GDR|   76|
+-----------+-----+
only showing top 5 rows

In [37]:
#Data from the previous three Olympics

(data.where((data["Year"] == 2016) | (data["Year"] == 2008 )).sort(["Event"]).show())

+------+------------------+--------+----+-----+--------------------+-------+--------+
|Gender|             Event|Location|Year|Medal|                Name|Country|  Result|
+------+------------------+--------+----+-----+--------------------+-------+--------+
|     M|        10000M Men| Beijing|2008|    B|          Micah KOGO|    KEN|27:04.11|
|     M|        10000M Men|     Rio|2016|    G|       Mohamed FARAH|    USA|25:05.17|
|     M|        10000M Men|     Rio|2016|    B|        Tamirat TOLA|    ETH|27:06.26|
|     M|        10000M Men| Beijing|2008|    G|     Kenenisa BEKELE|    ETH|27:01.17|
|     M|        10000M Men|     Rio|2016|    S|Paul Kipngetich T...|    KEN|27:05.64|
|     M|        10000M Men| Beijing|2008|    S|      Sileshi SIHINE|    ETH|27:02.77|
|     W|      10000M Women| Beijing|2008|    B|    Shalane FLANAGAN|    USA|30:22.22|
|     W|      10000M Women|     Rio|2016|    S|Vivian Jepkemoi C...|    KEN|29:32.53|
|     W|      10000M Women| Beijing|2008|    S|   Elvan ABEYLEGESSE|    TUR|29:56.34|
|     W|      10000M Women|     Rio|2016|    G|         Almaz AYANA|    ETH|29:17.45|
|     W|      10000M Women|     Rio|2016|    B|     Tirunesh DIBABA|    ETH|29:42.56|
|     W|      10000M Women| Beijing|2008|    G|     Tirunesh DIBABA|    ETH|29:54.66|
|     W|100M Hurdles Women|     Rio|2016|    S|             Nia ALI|    USA|   12.59|
|     W|100M Hurdles Women| Beijing|2008|    G|         Dawn HARPER|    USA|   12.54|
|     W|100M Hurdles Women|     Rio|2016|    B|      Kristi CASTLIN|    USA|   12.61|
|     W|100M Hurdles Women| Beijing|2008|    S|       Sally PEARSON|    AUS|   12.64|
|     W|100M Hurdles Women|     Rio|2016|    G|     Brianna ROLLINS|    USA|   12.48|
|     W|100M Hurdles Women| Beijing|2008|    B|Priscilla LOPES-S...|    CAN|   12.64|
|     M|          100M Men|     Rio|2016|    G|          Usain BOLT|    JAM|    9.81|
|     M|          100M Men|     Rio|2016|    S|       Justin GATLIN|    USA|    9.89|
+------+------------------+--------+----+-----+--------------------+-------+--------+
only showing top 20 rows

In [22]:
#mens 100m progression over the years
(data.where((data["Event"] == "100M Men") &
            (data["Medal"] == "G")).
            sort(['Year'],ascending=False).
            show(27))

+------+--------+--------------------+----+-----+----------------+-----------+------+
|Gender|   Event|            Location|Year|Medal|            Name|Nationality|Result|
+------+--------+--------------------+----+-----+----------------+-----------+------+
|     M|100M Men|                 Rio|2016|    G|      Usain BOLT|        JAM|  9.81|
|     M|100M Men|              London|2012|    G|      Usain BOLT|        JAM|  9.63|
|     M|100M Men|             Beijing|2008|    G|      Usain BOLT|        JAM|  9.69|
|     M|100M Men|              Athens|2004|    G|   Justin GATLIN|        USA|  9.85|
|     M|100M Men|              Sydney|2000|    G|  Maurice GREENE|        USA|  9.87|
|     M|100M Men|             Atlanta|1996|    G|  Donovan BAILEY|        CAN|  9.84|
|     M|100M Men|           Barcelona|1992|    G|Linford CHRISTIE|        GBR|  9.96|
|     M|100M Men|         Los Angeles|1984|    G|      Carl LEWIS|        USA|  9.99|
|     M|100M Men|              Moscow|1980|    G|     Allan WELLS|        GBR| 10.25|
|     M|100M Men|            Montreal|1976|    G| Hasely CRAWFORD|        TTO| 10.06|
|     M|100M Men|              Munich|1972|    G|   Valery BORZOV|        URS| 10.14|
|     M|100M Men|              Mexico|1968|    G|       Jim HINES|        USA|   9.9|
|     M|100M Men|               Tokyo|1964|    G|       Bob HAYES|        USA|  10.0|
|     M|100M Men|                Rome|1960|    G|      Armin HARY|        EUA|  10.2|
|     M|100M Men|Melbourne / Stock...|1956|    G|    Bobby MORROW|        USA|  10.5|
|     M|100M Men|            Helsinki|1952|    G|  Lindy REMIGINO|        USA|  10.4|
|     M|100M Men|              London|1948|    G|Harrison DILLARD|        USA|  10.3|
|     M|100M Men|              Berlin|1936|    G|     Jesse OWENS|        USA|  10.3|
|     M|100M Men|         Los Angeles|1932|    G|     Eddie TOLAN|        USA|  10.3|
|     M|100M Men|           Amsterdam|1928|    G|  Percy WILLIAMS|        CAN|  10.8|
|     M|100M Men|               Paris|1924|    G| Harold ABRAHAMS|        GBR|  10.6|
|     M|100M Men|             Antwerp|1920|    G| Charles PADDOCK|        USA|  10.8|
|     M|100M Men|           Stockholm|1912|    G|     Ralph CRAIG|        USA|  10.8|
|     M|100M Men|              London|1908|    G|   Reggie WALKER|        RSA|  10.8|
|     M|100M Men|            St Louis|1904|    G|     Archie HAHN|        USA|  11.0|
|     M|100M Men|               Paris|1900|    G|    Frank JARVIS|        USA|  11.0|
|     M|100M Men|              Athens|1896|    G|    Thomas BURKE|        USA|  12.0|
+------+--------+--------------------+----+-----+----------------+-----------+------+

In [21]:
#womens 100m progression over the years
(data.where((data["Event"] == "100M Women") &
            (data["Medal"] == "G")).
            sort(['Year'],ascending=False).
            show(27))

+------+----------+--------------------+----+-----+--------------------+-----------+------+
|Gender|     Event|            Location|Year|Medal|                Name|Nationality|Result|
+------+----------+--------------------+----+-----+--------------------+-----------+------+
|     W|100M Women|                 Rio|2016|    G|     Elaine THOMPSON|        JAM| 10.71|
|     W|100M Women|              London|2012|    G|Shelly-Ann FRASER...|        JAM| 10.75|
|     W|100M Women|             Beijing|2008|    G|Shelly-Ann FRASER...|        JAM| 10.78|
|     W|100M Women|              Athens|2004|    G| Yuliya NESTSIARENKA|        BLR| 10.93|
|     W|100M Women|             Atlanta|1996|    G|         Gail DEVERS|        USA| 10.94|
|     W|100M Women|           Barcelona|1992|    G|         Gail DEVERS|        USA| 10.82|
|     W|100M Women|         Los Angeles|1984|    G|      Evelyn ASHFORD|        USA| 10.97|
|     W|100M Women|              Moscow|1980|    G|Lyudmila KONDRATYEVA|        URS| 11.06|
|     W|100M Women|            Montreal|1976|    G|Annegret RICHTER-...|        FRG| 11.08|
|     W|100M Women|              Munich|1972|    G|      Renate STECHER|        GDR| 11.07|
|     W|100M Women|              Mexico|1968|    G|         Wyomia TYUS|        USA|  11.0|
|     W|100M Women|               Tokyo|1964|    G|         Wyomia TYUS|        USA|  11.4|
|     W|100M Women|                Rome|1960|    G|       Wilma RUDOLPH|        USA|  11.0|
|     W|100M Women|Melbourne / Stock...|1956|    G|      Betty CUTHBERT|        AUS|  11.5|
|     W|100M Women|            Helsinki|1952|    G|    Marjorie JACKSON|        AUS|  11.5|
|     W|100M Women|              London|1948|    G| Fanny BLANKERS-KOEN|        NED|  11.9|
|     W|100M Women|              Berlin|1936|    G|      Helen STEPHENS|        USA|  11.5|
|     W|100M Women|         Los Angeles|1932|    G|Stanislawa WALASI...|        POL|  11.9|
|     W|100M Women|           Amsterdam|1928|    G|  Elizabeth ROBINSON|        USA|  12.2|
+------+----------+--------------------+----+-----+--------------------+-----------+------+

In [20]:
#They dont call it the Mens killer for nothing.

(data.where((data["Event"] == "400M Men") 
           & (data["Medal"] == "G")).
           sort(['Year'],ascending=False).
           show(27))

+------+--------+--------------------+----+-----+--------------------+-----------+------+
|Gender|   Event|            Location|Year|Medal|                Name|Nationality|Result|
+------+--------+--------------------+----+-----+--------------------+-----------+------+
|     M|400M Men|                 Rio|2016|    G|   Wayde VAN NIEKERK|        RSA| 43.03|
|     M|400M Men|              London|2012|    G|        Kirani JAMES|        GRN| 43.94|
|     M|400M Men|             Beijing|2008|    G|     Lashawn MERRITT|        USA| 43.75|
|     M|400M Men|              Athens|2004|    G|      Jeremy WARINER|        USA|  44.0|
|     M|400M Men|              Sydney|2000|    G|     Michael JOHNSON|        USA| 43.84|
|     M|400M Men|             Atlanta|1996|    G|     Michael JOHNSON|        USA| 43.49|
|     M|400M Men|           Barcelona|1992|    G|        Quincy WATTS|        USA|  43.5|
|     M|400M Men|         Los Angeles|1984|    G|       Alonzo BABERS|        USA| 44.27|
|     M|400M Men|              Moscow|1980|    G|       Viktor MARKIN|        URS|  44.6|
|     M|400M Men|            Montreal|1976|    G|  Alberto JUANTORENA|        CUB| 44.26|
|     M|400M Men|              Munich|1972|    G|      Vince MATTHEWS|        USA| 44.66|
|     M|400M Men|              Mexico|1968|    G|           Lee EVANS|        USA|  43.8|
|     M|400M Men|               Tokyo|1964|    G|       Mike LARRABEE|        USA|  45.1|
|     M|400M Men|                Rome|1960|    G|          Otis DAVIS|        USA|  44.9|
|     M|400M Men|Melbourne / Stock...|1956|    G|     Charles JENKINS|        USA|  46.7|
|     M|400M Men|            Helsinki|1952|    G|       George RHODEN|        JAM|  45.9|
|     M|400M Men|              London|1948|    G|         Arthur WINT|        JAM|  46.2|
|     M|400M Men|              Berlin|1936|    G|Archibald Frankli...|        USA|  46.5|
|     M|400M Men|         Los Angeles|1932|    G| William Arthur CARR|        USA|  46.2|
|     M|400M Men|           Amsterdam|1928|    G|Raymond James BAR...|        USA|  47.8|
|     M|400M Men|               Paris|1924|    G|        Eric LIDDELL|        GBR|  47.6|
|     M|400M Men|             Antwerp|1920|    G|          Bevil RUDD|        RSA|0:49.6|
|     M|400M Men|           Stockholm|1912|    G|    Charles REIDPATH|        USA|0:48.2|
|     M|400M Men|              London|1908|    G|   Wyndham HALSWELLE|        GBR|  50.0|
|     M|400M Men|            St Louis|1904|    G|       Harry HILLMAN|        USA|  49.2|
|     M|400M Men|               Paris|1900|    G|Maxwell Warburn LONG|        USA|  49.4|
|     M|400M Men|              Athens|1896|    G|        Thomas BURKE|        USA|  54.2|
+------+--------+--------------------+----+-----+--------------------+-----------+------+

In [18]:
#Here are the two legends of the sport.

df.filter(df["name"] == "Usain BOLT").show()
df.filter(df["name"] == "Allyson FELIX").show()

+------+--------+--------+----+-----+----------+-----------+------+
|Gender|   Event|Location|Year|Medal|      Name|Nationality|Result|
+------+--------+--------+----+-----+----------+-----------+------+
|     M|100M Men|     Rio|2016|    G|Usain BOLT|        JAM|  9.81|
|     M|100M Men| Beijing|2008|    G|Usain BOLT|        JAM|  9.69|
|     M|100M Men|  London|2012|    G|Usain BOLT|        JAM|  9.63|
|     M|200M Men|     Rio|2016|    G|Usain BOLT|        JAM| 19.78|
|     M|200M Men| Beijing|2008|    G|Usain BOLT|        JAM| 19.30|
|     M|200M Men|  London|2012|    G|Usain BOLT|        JAM| 19.32|
+------+--------+--------+----+-----+----------+-----------+------+

+------+----------+--------+----+-----+-------------+-----------+------+
|Gender|     Event|Location|Year|Medal|         Name|Nationality|Result|
+------+----------+--------+----+-----+-------------+-----------+------+
|     W|200M Women| Beijing|2008|    S|Allyson FELIX|        USA| 21.93|
|     W|200M Women|  London|2012|    G|Allyson FELIX|        USA| 21.88|
|     W|200M Women|  Athens|2004|    S|Allyson FELIX|        USA| 22.18|
|     W|400M Women|     Rio|2016|    S|Allyson FELIX|        USA| 49.51|
+------+----------+--------+----+-----+-------------+-----------+------+